// Colors
$body-black: #333;
$near-white: #ECECE4;
$grey: #B8B8AE;

$yellow: #FED970;
$light-yellow: #FCEBAC;

$blue: #1899CB;
$darker-blue: #0084C9;


// Z Indices
$banner-z-index: 200;
$slide-nav-z-index: 100;


// Settings
$page-width: 1100px;

$banner-height: image-height('logo.png');
$banner-padding: 10px;
$banner-full-height: $banner-height + 2 * $banner-padding;

$footer-height: 29px;