.inner-container#resources {
  .content.resources {
    max-width: none;
  }

  .resource-filters {
    margin-bottom: 24px;
    margin-right: -37px;
  }

  ul.books, ul.links {
    @include reset-list;
  }

  ul.links {
    margin-top: 40px;
  }

  ul.books {
    margin: 0 -37px;
  }
}