.inner-container#resources {
  ul.links {
    li {
      background-color: $near-white;
      padding: 20px;
      margin-bottom: 20px;
    }

    p {
      margin: 0;

      &.name {
        @include whitney-semibold;
      }
    }
  }
}