.dropdown-container {
  .dropdown-title {
    cursor: pointer;
    color: $darker-blue;
    font-size: 15px;
  }

  .dropdown-content {
    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}