$banner-height: image-height('logo.png');
$banner-padding: 10px;

#banner {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $yellow;
  height: $banner-height + 2 * $banner-padding;
  padding-top: $banner-padding;

  h1 {
    float: left;
    margin: 0;

    a {
      display: block;
      @include replace-text-with-dimensions('logo.png')
    }
  }
}