$nav-margin: ($banner-height - 33px) / 2;

#main-nav {
  float: right;

  ul {
    @include reset-list;
    line-height: 33px;
    margin-top: $nav-margin;

    @include whitney-medium;
    text-transform: uppercase;
    font-size: 14px;
  }

  li {
    float: left;
    border-left: 1px solid $light-yellow;
    padding: 0 20px $banner-padding + $nav-margin 20px;

    &:first-child {
      border-left: none;
    }
  }

  a {
    text-decoration: none;
    @include link-colors($body-black);
  }
}