// Colors
$body-black: #333;
$near-white: #ECECE4;

$yellow: #FED970;
$light-yellow: #FCEBAC;

$blue: #1899CB;
$darker-blue: #0084C9;


// Z Indices
$banner-z-index: 100;


// Settings
$banner-height: image-height('logo.png');
$banner-padding: 10px;
$banner-full-height: $banner-height + 2 * $banner-padding;

$footer-height: 29px;