.wp-prev-next {
  @include clearfix;

  ul {
    @include reset-list;
  }

  .prev-link a:before, .next-link a:after {
    @include font-icon;
    margin: 0;
  }

  .prev-link {
    float: left;

    a:before {
      content: '\e809';
    }
  }

  .next-link {
    float: right;

    a:after {
      content: '\e806';
    }
  }
}