.post.short {
  margin-top: 40px;
  overflow: hidden;

  h3 {
    @include whitney-medium;
    font-size: 14px;
    margin: 0;
  }

  .date {
    margin-top: 5px;
    margin-bottom: 10px;
    @include whitney-book-italic;
    font-size: 10px;
  }

  .image {
    float: left;
    width: 115px;
    padding-top: 5px;

    img {
      width: 100%;
      display: block;
    }
  }

  .excerpt {
    padding-top: 5px;
    margin-left: 135px;
    font-size: 12px;
    line-height: 160%;

    p {
      margin: 0;
    }
  }
}