.side-nav.news {
  .title {
    a {
      color: $dark-grey;

      &:after {
        content: '\e806';
        @include font-icon;
        text-align: left;
        width: auto;
        margin-left: 0.4em;
        @include transition(transform 200ms linear);
      }
    }
  }

  ul.shown .title {
    a:after {
      content: '\e807';
    }
  }
}