#breadcrumbs {
  margin-bottom: 50px;
  ol {
    @include reset-list;
    @include clearfix;

    @include whitney-medium;
    font-size: 14px;

    line-height: 45px;
    border-bottom: 1px solid #ccc;
  }

  li {
    float: left;
    margin-right: 5px;

    &:before {
      content: '>';
      margin-right: 5px;
    }

    &:first-child:before {
      content: none;
    }
  }
}