@mixin whitney-book {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin whitney-book-italic {
  font-family: sans-serif;
  font-weight: normal;
  font-style: italic;
}

@mixin whitney-medium {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
}

@mixin whitney-semibold {
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
}

@mixin whitney-semibold-italic {
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}

@mixin sentinel-book {
  font-family: serif;
  font-weight: normal;
  font-style: normal;
}

@mixin sentinel-semibold {
  font-family: serif;
  font-weight: bold;
  font-style: normal;
}
