#content-info {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  background-color: $blue;

  p {
    margin: 0;
    text-align: right;
    line-height: $footer-height;
    color: $near-white;
    @include whitney-medium;
    font-size: 13px;
  }

  .credit {
    @include sentinel-semibold;
    font-size: 15px;
  }

  .credit-seperator {
    @include sentinel-book;
    font-size: 15px;
  }
}