#content-info {
  margin: 0;
  padding: 0;
  background-color: $blue;

  .footer-links {
    @include whitney-medium;
    font-size: 11px;

    ul {
      @include reset-list;
      line-height: $footer-height;
    }

    li {
      float: left;
      margin-right: 25px;

      a {
        @include link-colors($near-white);
      }
    }
  }

  p.credit {
    margin: 0;
    text-align: right;
    line-height: $footer-height;
    color: $near-white;
    @include whitney-medium;
    font-size: 13px;
  }

  .credit {
    @include sentinel-book;
    font-size: 15px;
  }

  .credit-seperator {
    @include sentinel-book;
    font-size: 15px;
  }
}