#banner {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $yellow;
  height: $banner-full-height;
  padding-top: $banner-padding;
  z-index: $banner-z-index;

  h1 {
    float: left;
    margin: 0;

    a {
      display: block;
      @include replace-text-with-dimensions('logo.png')
    }
  }
}