$sidebar-width: 225px;
$side-nav-width: 180px;
$content-side-spacing: 80px;

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
}

#wrapper {
  padding-top: $banner-full-height;
  padding-bottom: $page-bottom-padding;
  min-height: 100%;
  margin-bottom: -1 * $footer-height;
  @include clearfix;

  &::after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

.inner-container {
  margin-top: 70px;

  .content {
    max-width: 650px;
    margin-right: $sidebar-width + 10px + $content-side-spacing;
  }

  &.with-side-nav {
    .content {
      margin-left: $side-nav-width + $content-side-spacing;
    }
  }
}

.side-nav {
  float: left;
  width: $side-nav-width;
}

.sidebar {
  float: right;
  width: $sidebar-width;
}