html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
}

#wrapper {
  padding-top: $banner-full-height;
  min-height: 100%;
  margin-bottom: -1 * $footer-height;
  @include clearfix;

  &::after {
    content: "";
    display: block;
    height: $footer-height;
  }
}