$nav-margin: ($banner-height - 33px) / 2;

#main-nav {
  float: right;

  ul {
    @include reset-list;
    line-height: 33px;
    margin-top: $nav-margin;
    letter-spacing: 1px;

    @include whitney-medium;
    text-transform: uppercase;
    font-size: 14px;
  }

  li {
    float: left;
    padding-bottom: $banner-padding + $nav-margin;
  }

  a {
    @include link-colors($body-black);
    display: block;
    padding: 0 20px;

    border-left: 1px solid $light-yellow;
  }

  li:first-child a {
    border-left: none;
  }

  li:last-child a {
    padding-right: 0;
  }
}