$sidebar-padding: 15px;

.sidebar {
  background-color: $near-white;
  padding: $sidebar-padding;
  padding-bottom: 40px;
  @include whitney-medium;
  font-size: 13px;
  color: $dark-grey;
  margin-bottom: 20px;

  img {
    border: 1px solid #999;
    margin: -1 * $sidebar-padding;
    margin-bottom: 15px;
    width: $sidebar-width;
    max-width: $sidebar-width;
  }

  p {
    margin: 0;
    margin-bottom: 5px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  #subscribe-form {
    margin-top: 5px;
    margin-bottom: 40px;

    .archive { display: none; }
  }

  .subscribe-email-box {
    position: relative;
    margin-top: 10px;

    button {
      position: absolute;
      right: 0;
      top: 0;
      height: 30px;
    }
  }

  .support {
    margin-bottom: 40px;

    a {
      @include link-colors($blue);
      display: block;
      margin-bottom: 10px;
      @include sentinel-book;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
    }
  }
}