ul.recipes {
  @include whitney-medium;
  @include reset-list;

  li {
    margin-bottom: 24px;
  }
}

.content.recipe {
  .bar {
    border-bottom: 1px solid $grey;
    padding: 10px 0;
    position: relative;
    margin-bottom: 60px;

    &.bottom {
      border-bottom: none;
      border-top: 1px solid $grey;
      margin-bottom: 0;
      margin-top: 50px;
    }
  }

  .back {
    display: inline-block;
    @include whitney-medium;
    font-size: 14px;

    &:before {
      @include font-icon;
      content: '\e809';
    }
  }

  .print {
    position: absolute;
    bottom: -40px;
    right: 0;
    display: inline-block;
    color: $dark-grey;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      color: $blue;
    }
  }
}
