#main-nav .dropdown {
  background-color: $dark-grey;
  @include clearfix;
  position: absolute;
  left: 0;
  top: $banner-height + $banner-padding;
  width: 100%;
  padding: 40px;
  display: none;

  .feature-container {
    width: 25%;
    float: left;
  }

  ul {
    margin: 0;
    text-transform: none;
    color: #999;
    line-height: 130%;
    letter-spacing: 0;

    float: left;
    width: 25%;
    padding-left: 80px;
  }

  $arrow-width: 5px;
  $arrow-space: 6px;
  $arrow-height: 5px;

  li {
    float: none;
    padding: 0;
    margin: 8px 0;
    padding-left: $arrow-width + $arrow-space;
    position: relative;

    &.name {
      min-height: 18px;
      margin-top: 0;
      margin-bottom: 12px;
      padding-left: 0;

      &:before {
        content: none;
      }
    }

    a {
      @include link-colors(white);
      display: inline;
      border-left: none;
      padding: 0;
    }

    // Triangular bullet points
    &:before {
      content: '';
      border-color: transparent white;
      border-style: solid;
      border-width: ($arrow-height / 2) 0 ($arrow-height / 2) $arrow-width;
      display: block;
      height: 0;
      width: 0;
      left: 0;
      top: 0;
      margin-top: 0.5 * 18px - 0.5 * $arrow-height;
      position: absolute;
    }
  }
}

#main-nav li.has-dropdown:hover {
  background: image-url('nav-arrow.png') no-repeat center bottom;

  .dropdown {
    display: block;
  }
}

#main-nav li li:hover {
  background: none;
}