$nav-margin: ($banner-height - 33px) / 2;

#main-nav {
  float: right;

  ul {
    @include reset-list;
    line-height: 33px;
    margin-top: $nav-margin;
    letter-spacing: 1px;

    @include whitney-medium;
    text-transform: uppercase;
    font-size: 14px;
  }

  li {
    float: left;
    padding-bottom: $banner-padding + $nav-margin;

    /* Debug code to show a particular dropdown */
    // $display-dropdown-no: 1
    //
    // &:nth-child($display-dropdown-no) .dropdown {
    //   display: block;
    // }
  }

  a {
    @include link-colors($dark-grey);
    display: block;
    padding: 0 20px;

    border-left: 1px solid $light-yellow;
  }

  li:first-child a {
    border-left: none;
  }

  li:last-child a {
    padding-right: 0;
  }

  @media all and (max-width: $breakpoint-width) {
    display: none;
  }
}

#nav-pull {
  display: none;
}

@media all and (max-width: $breakpoint-width) {
  body.nav-shown #main-nav {
    display: block;
    clear: left;
    float: none;
    background-color: $yellow;
    text-align: center;
    margin: 0 -1 * $page-padding;

    li {
      float: none;
      &:last-child a {
        padding-right: 20px;
      }
    }

    a {
      border-left: none;
    }
  }

  body.nav-shown {
    min-height: 100%;
  }

  body.nav-shown #banner {
    position: static;
    height: auto;
    overflow: hidden;
    min-height: 100%;
    padding-bottom: $footer-height;
    margin-bottom: -1 * $footer-height;
  }

  body.nav-shown #wrapper {
    display: none;
  }

  #nav-pull {
    display: block;
    position: absolute;
    top: 0;
    right: $page-padding;
    line-height: 33px;
    font-size: 25px;

    &:before {
      @include font-icon;
      content: '\e80d';
    }
  }

  body.nav-shown #nav-pull {
    &:before {
      content: '\e80e';
    }
  }
}
