$sidebar-width: 225px;
$page-nav-width: 180px;
$page-content-space: 80px;

.page-container, .blog-container {
  margin-top: 70px;
}

.page-nav, .blog-nav {
  float: left;
  width: $page-nav-width;
}

.page.content, .post.content {
  margin-left: $page-nav-width + $page-content-space;
  margin-right: $sidebar-width + 10px + $page-content-space;
}

.page-sidebar, .blog-sidebar {
  float: right;
  width: $sidebar-width;
}