.content {
  ul.events {
    @include reset-list;

    li {
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
    }

    .short.event {
      @include clearfix;

      .image, img {
        width: 115px * 0.7;
        height: 90px * 0.7;
      }

      h3 {
        font-size: 13px;
        letter-spacing: 1px;
        margin-left: 115px * 0.7 + 10px;
        margin-bottom: 0;
      }

      p {
        font-size: 13px;
        margin: 0;
        margin-left: 10px;
      }

      .date {
        float: left;
      }

      .city {
        @include whitney-book;
        float: left;
      }
    }
  }
}