.event-list {
  h2 {
    @include whitney-light;
    font-size: 30px;
    margin: 20px 0;
  }

  .filters {
    height: 50px;

    .city, .type {
      display: block;
      width: 50%;
      float: left;
      background-color: #333;
      position: relative;

      .button {
        cursor: pointer;
        text-transform: none;
        letter-spacing: 0;
        width: 100%;
        padding: 0;
        text-align: center;
        @include whitney-medium;
        font-size: 14px;
        color: white;
        background-color: transparent;
        line-height: 50px;
        @include border-radius(none);

        &.active {
          color: $blue;
        }
      }

      ul {
        position: absolute;
        top: 50px;
        font-size: 12px;
        @include reset-list;
        margin: 0;
        width: 100%;
        background-color: #333;
        display: none;

        a {
          display: block;
          padding: 5px 25px;
          @include link-colors(white);
          border-bottom: 1px solid #666;

          &.selected {
            @include link-colors($blue);
          }
        }

        li:last-child a {
          padding-bottom: 10px;
          border-bottom: none;
        }
      }

      &:hover ul {
        display: block;
      }
    }

    .city .button {
      border-right: 1px solid #666;
    }
  }

  ul.events {
    @include reset-list;

    li {
      margin-top: 40px;
    }
  }
}