.event-list {
  h2 {
    @include whitney-light;
    font-size: 30px;
    margin: 20px 0;
  }

  .filters {
    @include clearfix;

    .city, .type {
      display: block;
      width: 50%;
      float: left;
      text-align: center;
      @include whitney-medium;
      font-size: 14px;
      color: white;
      background-color: #333;
      line-height: 50px;
    }

    .city {
      border-right: 1px solid #666;
    }
  }

  ul.events {
    @include reset-list;

    li {
      margin-top: 40px;
    }
  }

  .short.event {
    .image {
      float: left;
      width: 115px;
      height: 90px;
      margin-right: 20px;
    }

    h3 {
      font-size: 13px;
      @include whitney-medium;
      text-transform: uppercase;
      margin: 8px 0;
    }

    p {
      @include whitney-medium;
      font-size: 13px;
      margin: 6px 0;
      color: $body-black;
    }
  }
}