.event.content {
  h3 {
    @include sentinel-book;
    margin: 30px 0;
    font-size: 30px;
  }

  .info {
    margin-top: -20px;
    margin-bottom: 20px;
    @include clearfix;

    p {
      margin: 0;
    }

    .dates {
      @include whitney-medium;
      font-size: 13px;
      letter-spacing: 1px;
      float: left;
      margin-right: 20px;

      .month {
        text-transform: uppercase;
      }
    }

    .location {
      @include whitney-book;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1px;
      float: left;
    }
  }

  .pre-content {
    @include clearfix;

    .image {
      float: left;

      img {
        max-width: 210px;
        max-height: 150px;
      }
    }

    .register {
      margin-left: 210px;
      text-align: center;
      margin-bottom: 10px;
      margin-top: 150px / 2 - $button-height / 2;

      .button {
        margin: 0;
      }
    }
  }

  .inner-content {
    padding-top: 15px;

    > :first-child {
      margin-top: 0;
    }
  }

  .people, .links {
    @include clearfix;
    margin-bottom: 40px;

    h3 {
      @include whitney-medium;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    ul {
      @include reset-list;
    }

    li {
      float: left;
    }
  }

  .people {
    margin-top: 40px;

    li {
      margin-right: 40px;
      margin-bottom: 20px;
    }
  }
}