body.single-events {
  .event-list {
    float: left;
    padding-top: 20px;
    width: 410px;
  }

  .event.content {
    float: right;
    width: 500px;
    padding-top: 76px + 20px;
    margin-bottom: $page-bottom-padding;

    h2 {
      margin-top: 0;
    }
  }
}