$event-list-width: 410px;
$news-width: 500px;

body.home {
  #slideshow-wrapper {
    margin-bottom: 40px;
  }

  h2 {
    @include whitney-light;
    font-size: 44px;
    margin: 20px 0;
  }

  .event-list {
    width: $event-list-width;
    float: left;
    margin-bottom: 40px;
  }

  .recent-news {
    float: right;
    width: $news-width;
    margin-bottom: 40px;

    ul {
      @include reset-list;
    }
  }

  .view-all {
    display: block;
    @include whitney-medium;
    margin-top: 40px;

    &:after {
      @include font-icon;
      content: '\e806';
    }
  }

  $event-news-space: 60px;
  $fix-news-width: $event-list-width + $news-width + 2 * $page-padding + $event-news-space + $scrollbar-width;
  @media all and (max-width: $fix-news-width) {
    .recent-news {
      float: none;
      margin-left: $event-list-width + $event-news-space;
      width: auto;
    }
  }

  $news-min-width: 270px;
  $move-news-width: $event-list-width + $news-min-width + 2 * $page-padding + $event-news-space + $scrollbar-width;
  $show-items: 3;
  @media all and (max-width: $move-news-width) {
    .event-list {
      float: none;
      width: 100%;

      ul.events > li:nth-child(n+#{$show-items + 1}) {
        display: none;
      }
    }

    .recent-news {
      margin-left: 0;
      width: 100%;

      li.post:nth-child(n+#{$show-items + 1}) {
        display: none;
      }
    }
  }
}
