body.home {
  #slideshow-wrapper {
    margin-bottom: 40px;
  }

  h2 {
    @include whitney-light;
    font-size: 44px;
    margin: 20px 0;
  }

  .event-list {
    width: 410px;
    float: left;
    margin-bottom: 40px;
  }

  .recent-news {
    float: right;
    width: 500px;
    margin-bottom: 40px;
  }

  .view-all {
    display: block;
    @include whitney-medium;
    margin-top: 40px;

    &:after {
      @include font-icon;
      content: '\e806';
    }
  }

  .recent-news {
    ul {
      @include reset-list;
    }
  }
}