body.home {
  #slideshow {
    margin-bottom: 80px;
  }

  .event-list {
    width: 410px;
    float: left;

    h2 {
      font-size: 44px;
    }
  }

  .recent-news {
    float: right;
    width: 500px;
    margin-bottom: 60px;
  }

  .view-all {
    display: block;
    margin-top: 40px;
  }
}