.recent-news {
  ul {
    @include reset-list;
  }

  li {
    margin-top: 40px;
  }

  h3 {
    margin-bottom: 0;
  }

  .date {
    margin-top: 5px;
    @include whitney-book-italic;
    font-size: 10px;
  }
}