$slideshow-height: 600px;

#slideshow-wrapper {
  margin: 0 -1 * $page-padding;
}

#slideshow {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: $page-width;
  @include clearfix;

  ul.slides {
    @include reset-list;

    li {
      width: 100%;

      // Overlay is not shown right now
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        display: none;
        position: absolute;
        background-color: rgba(black, 0.25);
      }
    }
  }

  img {
    display: block;
    width: 100%;
  }

  .text {
    position: absolute;
    bottom: 25px;
    left: 30%;
    width: 40%;
    // padding: 0 15%;
    text-align: center;
    // background-color: $dark-grey;
    // background-color: rgba($dark-grey, 0.8);
  }

  .caption {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 78px;

    p {
      @include sentinel-book;
      color: white;
      font-size: 32px;
      @include text-shadow(#333 0 0 8px);
      margin: 0;
    }
  }

  .button {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 20px;
    @include border-radius(2px);
    padding: 0 20px;
    @include box-shadow(#333 0 0 8px);

    &:after {
      content: '\e806';
      @include font-icon;
      text-align: left;
      width: auto;
      margin-left: 0.4em;
      margin-right: 0;
    }
  }

  // Navigation
  .rslides_tabs {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    @include reset-list;
    bottom: 15px;
    z-index: $slide-nav-z-index;

    li {
      display: inline-block;
      margin-left: 8px;
    }

    a {
      @include hide-text;
      display: block;
      background-color: white;
      width: 8px;
      height: 8px;
      @include border-radius(50%);
      @include box-shadow(#666 0 0 8px);
    }

    .rslides_here a {
      background-color: $yellow;
    }
  }
}