$slideshow-height: 500px;

#slideshow {
  position: relative;
  @include clearfix;

  ul.slides {
    @include reset-list;

    li {
      height: $slideshow-height;
      width: 100%;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background-color: rgba(black, 0.25);
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  .text {
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding: 0 15%;
    text-align: center;
  }

  .caption {
    margin-bottom: 60px;
    min-height: 100px;

    p {
      @include sentinel-book;
      color: white;
      font-size: 50px;
      @include text-shadow(#666 0 0 8px);
      margin: 0;
    }
  }

  .button {
    text-transform: none;
    letter-spacing: 0;
    @include border-radius(2px);
    padding: 0 20px;
    @include box-shadow(#666 0 0 8px);

    &:after {
      content: '\e806';
      @include font-icon;
      text-align: left;
      width: auto;
      margin-left: 0.4em;
      margin-right: 0;
    }
  }

  // Navigation
  .rslides_tabs {
    position: absolute;
    right: 25px;
    bottom: 10px;
    z-index: $slide-nav-z-index;

    li {
      float: left;
      margin-left: 8px;
    }

    a {
      @include hide-text;
      display: block;
      background-color: white;
      width: 12px;
      height: 12px;
      @include border-radius(50%);
      @include box-shadow(#666 0 0 8px);
    }

    .rslides_here a {
      background-color: $yellow;
    }
  }
}