#registration-form {
  .options {
    background-color: $dark-grey;
    @include whitney-medium;
    color: white;
    width: 500px;
    padding: 15px;
    margin-bottom: 40px;

    .name {
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
      margin-bottom: 15px;
      font-size: 13px;
    }

    table {
      width: 100%;
    }

    td {
      line-height: 30px;
      vertical-align: middle;
    }

    input {
      margin-right: 15px;
    }

    .price {
      padding-left: 20px;
    }
  }
}