#registration-form {
  padding-top: 10px;

  .options, .method {
    width: 600px;

    .name {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 0;
      @include whitney-medium;
      padding-bottom: 30px;
      padding-top: 10px;
    }

    label {
      @include whitney-medium;
      font-size: 18px;
    }

    .description {
      padding-left: 30px;
      margin: 0;
    }

    thead tr {
      border: none;
    }

    & {
      border-bottom: 1px solid $near-white;
    }

    tr {
      border-top: 1px solid $near-white;
    }

    thead td {
      padding-top: 0;
    }

    td {
      line-height: 30px;
      vertical-align: middle;
      padding: 30px 0;
    }

    input {
      margin-right: 15px;
      width: 15px;
    }

    .price {
      vertical-align: top;
      padding-left: 40px;
      width: 120px;
    }
  }

  .chosen {
    width: 600px;
    background-color: $dark-grey;
    padding: 30px;
    color: white;
    margin-bottom: 40px;

    .name {
      padding-top: 0;
      padding-bottom: 20px;
    }

    tbody {
      .option, .price {
        padding-top: 20px;
      }
    }

    table {
      width: 600px - (2 * 30px);
      border: none;
    }

    thead tr {
      border-bottom: 1px solid $near-white;
    }

    tr {
      border: none;
    }

    td {
      padding-top: 0;
      padding-bottom: 0;
    }

    .description {
      padding-left: 0;
    }
  }
}