#registration-form {
  padding-top: 10px;

  .options {
    width: 550px;

    .name {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 0;
      @include whitney-medium;
      padding-bottom: 40px;
    }

    label {
      @include whitney-medium;
      font-size: 18px;
    }

    .description {
      padding-left: 30px;
      margin: 0;
      padding-bottom: 20px;
    }

    td {
      line-height: 30px;
      vertical-align: middle;
    }

    input {
      margin-right: 15px;
      width: 15px;
    }

    .price {
      vertical-align: top;
      padding-left: 20px;
      width: 120px;
    }
  }

  .chosen-title {
    margin: 0;
    margin-bottom: 20px;
  }

  .chosen {
    width: 550px;
    background-color: $dark-grey;
    padding: 30px;
    color: white;
    margin-bottom: 40px;

    table {
      width: 550px - (2 * 30px);
    }

    .description {
      padding-left: 0;
    }
  }
}