$button-height: 36px;
.button {
  display: inline-block;
  background-color: $blue;
  color: white;
  text-transform: uppercase;
  @include whitney-medium;
  font-size: 14px;
  line-height: $button-height;
  padding: 0 40px;
  letter-spacing: 1px;
  @include border-radius(5px);
}