@mixin content-styles {
  h2 {
    @include whitney-light;
    font-size: 44px;
    margin: 30px 0;
  }

  p, ul, ol {
    line-height: 160%;
    margin: 24px 0;

    strong, b {
      @include whitney-semibold;

      em, i {
        @include whitney-semibold-italic;
      }
    }

    em, i {
      @include whitney-book-italic;

      strong, b {
        @include whitney-semibold-italic;
      }
    }
  }

  ul, ol {
    margin: 16px 0;
  }

  h3 {
    @include whitney-medium;
    font-size: 18px;
    margin: 39px 0 24px 0;
  }

  h4, h5, h6 {
    @include whitney-medium;
    font-size: inherit;
    margin: 24px 0 12px 0;

    & + p {
      margin-top: 12px
    }
  }

  .button {
    display: inline-block;
    margin: 24px 0;
  }
}