html {
  -webkit-font-smoothing: antialiased;
}

body {
  text-rendering: optimizeLegibility;
  @include whitney-book;
  font-size: 14px;
  color: $body-black;
}

input {
  @include whitney-book;
}

a {
  text-decoration: none;
  @include link-colors($darker-blue)
}

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}