.social {
  ul {
    @include reset-list;
    @include clearfix;
    margin-top: 15px;
    font-size: 24px;
  }

  li {
    float: left;
    margin-right: 10px;
  }

  a {
    @include link-colors(#777)
  }
}