#subscribe-email {
  border: 1px solid $grey;
  font-size: 11px;
  line-height: 16px;
  padding: 6px 8px;
  width: 100%;

  @include border-radius(4px);
  @include placeholder-color(#666);
}

.subscribe-email-box {
  button {
    height: 28px;
    border: none;
    background-color: $blue;
    color: white;
    font-size: 12px;

    @include border-radius(4px);
  }
}